@model Factory.Models.Machine

<h4>Add a new Machine</h4>

@using (Html.BeginForm())
{
  @Html.TextBoxFor(model => model.Name, new { @class="form-control", @required="required"})
  <br>
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description, new {@class="form-control", @required="required"})
  <br>
  @Html.Label("Select Engineer")
  @Html.DropDownList("EngineerId")
  <br>
  <input type="submit" value="Add new Machine" class="btn btn-primary" />
}

<p>@Html.ActionLink("Show all machines", "Index")</p>