@{
  Layout = "_Layout";
}
@model Factory.Models.Engineer;
<div class="container">
  <h4>Engineer Details</h4>
  <div class="table">
    <h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
    <h3>@Html.DisplayNameFor(model => model.HireDate): @Html.DisplayFor(model => model.HireDate)</h3>
  </div>

  @if (@Model.JoinEntities.Count == 0)
  {
    <p>This Engineer is not licensed to no machine!</p>
  }
  else
  {
    <h4>Machine the engineer is licensed to:</h4>
    <ul>
      @foreach (var join in Model.JoinEntities)
      {
        <li>@join.Machine.Name</li>
      }
    </ul>
  }

  <div style="display: inline-block; padding-right: 7px;">
    <p>@Html.ActionLink("Back to engineers", "Index")</p>
  </div>
  <div style="display: inline-block; padding-right: 7px;">
    <p>@Html.ActionLink("Edit engineer", "Edit", new { id = Model.EngineerId })</p>
  </div>
  <div style="display: inline-block; padding-right: 7px;">
    <p>@Html.ActionLink("Delete engineer", "Delete", new { id = Model.EngineerId })</p>
  </div>
  <div style="display: inline-block; padding-right: 7px;">
    <p>@Html.ActionLink("Home", "Index", "Home")</p>
  </div>
</div>
